# General
*\.sw[po]
*.tmp
*.bak
.DS_Store

# Log
*.log

# Eclipse
.classpath
.metadata
.project
.settings/

# Intellij
.idea
*.iml
*.ipr
*.iws

# NetBeans
build/
nbbuild/
dist/
nbdist/

# Maven
target/
dependency-reduced-pom.xml

# Package
*.jar
*.zip
*.tar.gz

lib/
ivy/
out/
stats/
